@charset "UTF-8";

body, div, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

/*
* header
*/
.element0{
  background-color: rgba(237, 214, 247, 1);
  color: white;
  width: 1280px;
  height: 72px;/* 変更しない */
  padding: 20px 10px 10px 50px;/* 変更しない */
}

/*
* main & sidebar (wrapper)
*/
.element1{
  background-color: rgb(245, 245, 242);
  width: 1000px;
  height: 530px;
  padding: 30px 20px 10px 50px;/* 変更しない */
}

.element1 p {
  margin: 20px 0 20px 0;
}

.element2{
  background-color: rgb(240, 234, 236);
  color: white;
  width: 280px;
  height: 530px;
  padding: 30px 30px 30px 50px;/* 変更しない */
}

/*
* footer
*/
.element3 {
  background-color: rgba(177, 175, 179, 1);
  color: white;
  width: 1280px;
  height: 150px;/* 変更しない */
  text-align: center;
  padding: 60px 10px 20px 10px;/* 変更しない */
}